<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        * {
            transition: all .3s ease-in-out;
        }
    </style>
</head>

<body class="flex justify-center-safe items-center min-h-[100dvh] bg-purple-900 text-slate-500">
    <div id="app" class="bg-white p-8 shadow-xl w-[900px] max-w-[100dvw] flex flex-col gap-4">

        <!-- Adding tasks form -->
        <form @submit.prevent="addTask" class="flex flex-col md:flex-row gap-4 pb-4 border-b border-dashed border-slate-400">
            <input ref="newTaskInput" placeholder="Add new task"
                class="bg-slate-200/70 min-h-[50px] h-[50px] px-4 flex-1 outline-none" v-model="newTask">
            <select class="bg-slate-200/70 h-[50px] px-4 outline-none" v-model="newPriority">
                <option selected disabled value="">Select priority</option>
                <option class="bg-red-500 text-white" value="1">High</option>
                <option class="bg-orange-500 text-white" value="2">Medium</option>
                <option class="bg-green-500 text-white" value="3">Low</option>
            </select>
            <button
                class="bg-purple-900 text-white h-[50px] px-4 cursor-pointer hover:bg-slate-900 transition-all ease-in-out duration-300">Add
                task</button>
        </form>

        <!-- Task filtering -->
        <div class="pb-4 border-b border-dashed border-slate-400">
            <input v-model="filterTerm" placeholder="Filter tasks..."
                class="bg-slate-200/70 h-[50px] px-4 outline-none w-full">
        </div>

        <!-- Task list -->
        <div v-else>
            <h3 class="text-md mb-4 font-semibold">To do</h3>
            <!-- If there no tasks to do -->
            <div v-if="filteredTasks.filter(task => !task.done).length===0" class="text-sm mb-5">
                <p>No tasks to do</p>
            </div>
            <div v-else class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-5">
                <div v-for="task in filteredTasks.filter(task => !task.done)" :key="task.id"
                    class="flex items-center gap-3 h-[50px] px-4 select-none border border-dashed border-slate-400"
                    :class="{
                            'border-red-500': task.priority === 1,
                            'border-orange-500': task.priority === 2,
                            'border-green-500': task.priority === 3,
                            '!bg-purple-100/30 !border-purple-900': task.done,
    
                        }">
                    <label class="flex items-center gap-3 flex-1">
                        <input type="checkbox" v-model="task.done" class="accent-purple-600">
                        <span :class="{
                            'line-through text-purple-600': task.done
                        }">{{task.description}}</span>
                    </label>
                    <div v-if="!task.done">
                        <span class="px-2 py-1 rounded-full" :class="{
                                'bg-red-500 text-white': task.priority===1,
                                'bg-orange-500 text-white': task.priority===2,
                                'bg-green-500 text-white': task.priority===3
                            }">
                            {{task.priority===1?'High':''}}
                            {{task.priority===2?'Medium':''}}
                            {{task.priority===3?'Low':''}}
                        </span>
                    </div>
                    <button @click="removeTask(task.id)" v-if="!task.done"
                        class="text-slate-600 text-xs font-bold cursor-pointer">X</button>
                </div>
            </div>
            <h3 class="text-md mb-4 font-semibold">Done</h3>
            <div v-if="filteredTasks.filter(task => task.done).length===0" class="text-sm mb-5">
                <p>No tasks done</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div v-for="task in filteredTasks.filter(task => task.done)" :key="task.id"
                    class="flex items-center gap-3 h-[50px] px-4 select-none border border-dashed border-slate-400"
                    :class="{
                            'border-red-500': task.priority === 1,
                            'border-orange-500': task.priority === 2,
                            'border-green-500': task.priority === 3,
                            '!bg-purple-100/30 !border-purple-900': task.done,
    
                        }">
                    <label class="flex items-center gap-3 flex-1">
                        <input type="checkbox" v-model="task.done" class="accent-purple-600">
                        <span :class="{
                            'line-through text-purple-600': task.done
                        }">{{task.description}}</span>
                    </label>
                    <div v-if="!task.done">
                        <span class="px-2 py-1 rounded-full" :class="{
                                'bg-red-500 text-white': task.priority===1,
                                'bg-orange-500 text-white': task.priority===2,
                                'bg-green-500 text-white': task.priority===3
                            }">
                            {{task.priority===1?'High':''}}
                            {{task.priority===2?'Medium':''}}
                            {{task.priority===3?'Low':''}}
                        </span>
                    </div>
                    <button @click="removeTask(task.id)" v-if="!task.done"
                        class="text-slate-600 text-xs font-bold cursor-pointer">X</button>
                </div>
            </div>
        </div>

    </div>
    <script>
        const { createApp, onMounted, onBeforeMount, ref, watch } = Vue
        const App = {
            setup() {
                let tasks = ref(
                    JSON.parse(
                        localStorage.getItem(`tasks`) ?? `[]`
                    )
                );
                let filteredTasks = ref([...tasks.value]);
                const newTaskInput = ref(null)
                const newTask = ref(``)
                const newPriority = ref(``)
                const filterTerm = ref(``)
                onMounted(() => {
                    newTaskInput.value.focus()
                })
                const addTask = () => {
                    if (newTask.value !== '' && newPriority.value !== '') {
                        tasks.value.push({
                            id: tasks.value.length + 1,
                            description: newTask.value,
                            priority: parseInt(newPriority.value)
                        })
                        newTask.value = ``
                        newPriority.value = ``
                    }
                }
                const removeTask = (id) => {
                    tasks.value = tasks.value.filter((task, _) => {
                        return task.id !== id
                    })
                }

                const filterTasks = () => {
                    filteredTasks.value = tasks.value.filter((task, _) => {
                        return (
                            (task.priority === 1 && filterTerm.value.toLowerCase() === `high`) ||
                            (task.priority === 2 && filterTerm.value.toLowerCase() === `medium`) ||
                            (task.priority === 3 && filterTerm.value.toLowerCase() === `low`) ||
                            (task.description.toLowerCase().includes(filterTerm.value.toLowerCase()))
                        )
                    })
                }

                watch(filterTerm, () => {
                    filterTasks()
                })

                watch(tasks, () => {
                    filteredTasks.value = tasks.value
                    localStorage.setItem(
                        `tasks`,
                        JSON.stringify(tasks.value)
                    )
                }, { deep: true })
                return { newTaskInput, tasks, newTask, newPriority, addTask, removeTask, filterTerm, filterTasks, filteredTasks }
            }
        }
        createApp(App).mount(`#app`)
    </script>
</body>

</html>